
    <div class="container">
        <br>
        <app-uploadimage></app-uploadimage>

        <!-- Modal For edit Products -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="Editp" (submit)="editproducts()">

                            <div class="col-md-12"> <label for="Product_Name">Product is in Stock :</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" value="status"
                                        id="status" formControlName="status" checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked Product is
                                        Available or Not</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="Product_Name">Product Name:</label>
                                <input type="text" name="Product_Name" class="form-control" id="Product_Name"
                                    formControlName="Product_Name" value="" placeholder="Enter Product Name " required>
                            </div>

                            <div class="col-md-12">
                                <label for="description">description :</label>
                                <textarea type="text" name="description" class="form-control" id="description"
                                    formControlName="description" value="" placeholder="Enter description" required>
                           </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="benefits">Benefits :</label>
                                <textarea type="text" name="benefits" class="form-control" id="benefits"
                                    formControlName="benefits" value="" placeholder="Enter benefits" required>
                            </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="ingredients">ingredients</label>
                                <textarea type="text" name="ingredients" class="form-control" id="ingredients"
                                    formControlName="ingredients" value="" placeholder="Enter ingredients" required>
                           </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="Price">price:</label>
                                <input type="number" name="Price" class="form-control" id="Price"
                                    formControlName="Price" placeholder="Enter Price." required>
                            </div>

                            <div class="col-md-12">
                                <label for="discount">Discount:</label>
                                <input type="number" name="discount" class="form-control" id="discount"
                                    formControlName="discount" placeholder="Enter Discount." required>
                            </div>

                            <div class="col-md-12">
                                <label for="Weight">Weight:</label>
                                <input type="text" name="Weight" class="form-control" id="Weight"
                                    formControlName="Weight" placeholder="Enter weight of Product" required>
                            </div>

                            <div class="col-md-12">
                                <label for="Category_id">Category ID :</label>
                                <input type="number" name="Category_id" class="form-control" id="Category_id"
                                    formControlName="Category_id" value="" placeholder="Enter Category id" required>
                            </div>

                            <div class="col-md-12">
                                <label for="Brand_id">Brand ID :</label>
                                <input type="number" name="Brand_id" class="form-control" id="Brand_id"
                                    formControlName="Brand_id" value="" placeholder="Enter Brand id" required>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal -->

        <div class="text-start">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add New Product <i class="fa-regular fa-plus"></i>
            </button>
        </div>
        <br>
        <div class="text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addimages">
                Add Images <i class="fa-regular fa-plus"></i>
            </button>
        </div>

        <div class="modal fade" id="addimages" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Images</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <h3 class="text-22 text-midnight text-bold mb-4">Add image</h3>

                            <form [formGroup]="ADDimg" (ngSubmit)="addimg1()">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <div class="input-label">
                                            <label>Product id</label>
                                        </div>
                                        <input type="text" class="form-control" placeholder=""
                                            formControlName="product_id">
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <div class="input-label">
                                            <label>Image</label>
                                        </div>
                                        <input type="file" class="form-control" placeholder=""
                                            formControlName="mainimage" multiple (change)="onFileChange($event)">
                                    </div>

                                    <div class="form-group col-12">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>

                            <!-- <input (change)="onImagePicked($event)" placeholder="Upload Image" type="file" />
                            <button (click)="onImageUpload()">Upload Image</button>

                            <div *ngIf="imageUrl">
                                Preview Image from AWS
                                <br />
                                <img width="200px" src="https://YOUR S3 BUCKET NAME.s3.amazonaws.com/{{ images }}" />
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal For ADD Products -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="Addp" (ngSubmit)="productAdd()" class="row g-3 needs-validation" novalidate>

                            <div class="col-md-12">
                                <label for="Product_Name">Product is in Stock :</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" value="status"
                                        id="status" formControlName="status" checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked" *ngIf="">Checked
                                        Product is
                                        Available or Not</label>
                                </div>
                            </div>

                            <!-- <div class="col-md-12">
                                <label for="Product_Name">Product is in Stock :</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" value="status" id="status"
                                            formControlName="status" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-md-12">
                                <label for="Product_Name">Product Name:</label>
                                <input type="text" name="Product_Name" class="form-control" id="Product_Name"
                                    formControlName="Product_Name" value="" placeholder="Enter Product Name " required>
                            </div>

                            <div class="col-md-12">
                                <label for="description">Description :</label>
                                <textarea type="text" name="description" class="form-control" id="description"
                                    formControlName="description" value="" placeholder="Enter description" required>
                                </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="benefits">Benefits :</label>
                                <textarea type="text" name="benefits" class="form-control" id="benefits"
                                    formControlName="benefits" value="" placeholder="Enter benefits" required>
                            </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="ingredients">Ingredients</label>
                                <textarea type="text" name="ingredients" class="form-control" id="ingredients"
                                    formControlName="ingredients" value="" placeholder="Enter ingredients" required>
                           </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="Price">Price:</label>
                                <input type="number" name="Price" class="form-control" id="Price"
                                    formControlName="Price" placeholder="Enter price." required>
                            </div>

                            <div class="col-md-12">
                                <label for="discount">Discount:</label>
                                <input type="number" name="discount" class="form-control" id="discount"
                                    formControlName="discount" placeholder="Enter Discount." required>
                            </div>

                            <div class="col-md-12">
                                <label for="Weight">Weight:</label>
                                <input type="text" name="Weight" class="form-control" id="Weight"
                                    formControlName="Weight" placeholder="Enter weight of Product" required>
                            </div>

                            <div class="col-md-12">
                                <label for="Category_id">Category ID :</label>
                                <input type="number" name="Category_id" class="form-control" id="Category_id"
                                    formControlName="Category_id" value="" placeholder="Enter Category id" required>
                            </div>

                            <div class="col-md-12">
                                <label for="Brand_id">Brand ID :</label>
                                <input type="number" name="Brand_id" class="form-control" id="Brand_id"
                                    formControlName="Brand_id" value="" placeholder="Enter Brand id" required>
                            </div>

                            <div class="text-center">
                                <div class="col-12">
                                    <button class="btn btn-success" style="color: white;" type="submit">
                                        Add Products</button> <br> <br>
                                </div>
                            </div>
                            <br><br>
                        </form>

                        <!--  <form [formGroup]="addproduct" (submit)="PrdAdd()" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-12">
                                <label for="Product_Name">Product Name:</label>
                                <input type="text" name="Product_Name" class="form-control" id="Product_Name"
                                    formControlName="Product_Name" value="" placeholder="Enter Product Name " required>
                            </div>

                            <div class="col-md-12">
                                <label for="Description">description :</label>
                                <textarea type="text" name="Description" class="form-control" id="Description"
                                    formControlName="Description" value="" placeholder="Enter description" required>
                       </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="Benifits">Benefits :</label>
                                <textarea type="text" name="Benifits" class="form-control" id="Benifits"
                                    formControlName="Benifits" value="" placeholder="Enter benefits" required>
                        </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="Ingredients">ingredients</label>
                                <textarea type="text" name="Ingredients" class="form-control" id="Ingredients"
                                    formControlName="Ingredients" value="" placeholder="Enter ingredients" required>
                       </textarea>
                            </div>

                            <div class="col-md-12">
                                <label for="Price">price:</label>
                                <input type="number" name="Price" class="form-control" id="Price"
                                    formControlName="Price" placeholder="Enter price." required>
                            </div>

                        <div class="col-md-12">
                                <label for="discount">Discount:</label>
                                <input type="number" name="discount" class="form-control" id="discount"
                                    formControlName="discount" placeholder="Enter price." required>
                            </div>

                             <div class="col-md-12">
                                <label for="pricewithdiscount">Pricewithdiscount:</label>
                                <input type="number" name="pricewithdiscount" class="form-control"
                                    id="pricewithdiscount" formControlName="pricewithdiscount"
                                    placeholder="Enter price." required>
                            </div> 

                            <div class="col-md-12">
                                <label for="Weight">Weight:</label>
                                <input type="text" name="Weight" class="form-control" id="Weight"
                                    formControlName="Weight" placeholder="Enter weight of Product" required>
                            </div>

                            <div class="col-md-12">

                                <div class="input-label">
                                    <label>img</label>
                                </div>
                                <input type="file" class="form-control" placeholder="" formControlName="Imageurl"
                                    multiple class="form-control" (change)="onFileChange($event)">
                                 <label for="image">image :</label>
                            <input type="text" name="image" class="form-control" id="image" formControlName="image"
                                value="" placeholder="Enter image" required> 
                            </div>

                            <div class="col-md-12">
                                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                <input class="form-control" type="file" id="formFileMultiple" formControlName="image1"
                                    multiple>
                            </div>

                            <div class="col-md-12">
                                <label for="image2">Mainimage :</label>
                                <input type="text" name="image2" class="form-control" id="image2"
                                    formControlName="image2" value="" placeholder="Enter image" required>
                            </div>

                            <div class="col-md-12">
                                <label for="image3">Backimage :</label>
                                <input type="text" name="image3" class="form-control" id="image3"
                                    formControlName="image3" value="" placeholder="Enter image" required>
                            </div>

                            <div class="col-md-12">
                                <label for="tableimage">Tableimage :</label>
                                <input type="text" name="tableimage" class="form-control" id="tableimage"
                                    formControlName="tableimage" value="" placeholder="Enter image" required>
                            </div> 

                            <div class="col-md-12">
                                <label for="Category_id">Category ID :</label>
                                <input type="number" name="Category_id" class="form-control" id="Category_id"
                                    formControlName="Category_id" value="" placeholder="Enter Category id" required>
                            </div>

                            <div class="col-md-12">
                                <label for="Brand_id">Brand ID :</label>
                                <input type="number" name="Brand_id" class="form-control" id="Brand_id"
                                    formControlName="Brand_id" value="" placeholder="Enter Brand id" required>
                            </div>

                            <div class="text-center">
                                <div class="col-12">
                                    <button class="btn btn-success" style="color: white;" type="submit">
                                        Add Products</button> <br> <br>
                                </div>
                            </div>
                            <br><br>
                        </form> -->


                    </div>

                </div>
            </div>
        </div>
        <!-- Modal -->

        <br>

        <div class="section section-demo" id="examples">
            <h2>Product's</h2>
            <br>
            <div class="row">
                <div class="col-md-2" *ngFor="let ii of ">
                    <!-- <div class="card">
                        <div class="card-body">
                            <img [src]="ii.image">
                            <img [src]="ii.mainimage" alt="">
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" *ngFor="let p of pp | paginate :{itemsPerPage :3 ,currentPage : pro},let i=index">

                    <div class="card">
                        <div class="card-body">
                            <a type="button" (click)="editproduct(p.id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1">
                                <i class="fa-solid fa-pen-to-square fa-xl" style="color: green;"></i>
                            </a>
                            <span style="float:right;"> <a type="button" (click)="delete(p['id'])">
                                    <i class="fa-regular fa-trash-can fa-xl " style="color: red;"></i></a></span>

                            <div>
                                <br>
                            </div>
                            <br>
                            <p [ngStyle]="getStyle(p)">
                                {{ p.status == '1' ? '' : 'Out of Stock' }}
                            </p>
                            <img [src]="p.image" alt="" [routerLink]="['/viewproduct',p.id]"> <br>
                            <!-- <img [src]="p.mainimage" alt=""> -->
                            <!-- <img [src]="p.mainimage" width="100%" alt=""> -->

                            <h4 class="card-title"><b>{{p.Product_Name}}</b></h4> <br><br>
                            <h6><b>Weight</b>: {{p.Weight}}</h6>
                            <h6><b>Actual Price: </b> <b>&#8377; {{p.Price}}</b></h6>
                            <p><b>Discount:</b> {{p.discount}}%</p>
                            <p><b>Discount Price:</b> &#8377; {{p.pricewithdiscount}}</p>
                            <!-- <p><b>Availability In Stock:</b> {{p.status}}</p> -->
                            <!-- <b>Description :</b>
                            <p>{{p.description}}</p> <br>
                            <b>Ingredients :</b>
                            <p>{{p.ingredients}}</p>
                            <br>
                            <b>Benefits :</b>
                            <p>{{p.benefits}}</p> -->

                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <pagination-controls (pageChange)="pro = $event"></pagination-controls>
                </div>
            </div>

            <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <input type="file" name="mainimage" multiple (change)="onFileSelected($event)" />
                <input type="number" name="product_id" />
                <button type="submit">Upload</button>
            </form>
        </div>
    </div> <br><br>
ssss