<div class="content-wrapper">
    <div class="container">
        <br>
        <div class="text-center">
            <h1>Order's Data</h1>
        </div>
        <br>
        <br>

        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"> <b>Order Id </b> </th>
                        <th scope="col"> <b>User Id </b> </th>
                        <th scope="col"> <b>Order Date </b> </th>
                        <th scope="col"> <b>Total Amount </b> </th>
                        <th scope="col"> <b>Address </b> </th>
                        <th scope="col"> <b>Cart_id </b> </th>
                        <th scope="col"> <b>Edit order </b> </th>
                        <th scope="col"> <b>Delete order </b> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of allorder | paginate : {itemsPerPage : 10 , currentPage : pro}, let i =index">
                        <td>{{o.id}}</td>
                        <td>{{o.User_id}}</td>
                        <td>{{o.Order_date | date:'d/MMM/yyyy'}}</td>
                        <td>{{o.Total_amount}}</td>
                        <td>{{o.Shipping_address}}</td>
                        <td>{{o.Cart_id}}</td>

                        <td> <button type="button" class="btn btn-info" (click)="updateorder()" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button></td>
                        <td><button class="btn btn-danger" type="button" (click)="delete(o['id'])"
                                class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button></td>
                    </tr>
                    <pagination-controls (pageChange)="pro = $event"></pagination-controls>
                </tbody>
            </table>
        </div>


    </div>
</div>